<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>목록</title>
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="../static/board.css">

    <!--    <link rel="stylesheet" href="/css/board/board.css">-->
</head>
<body>
    <main id="board">

        <!--<section id="board-banner">
            <div><a href="javascript:void(0)"><img src="/images/board_banner.png"></a></div>
        </section>-->
        <section id="info-wrap">
            <article id="info-container">
                <h6 class="info">게시글 목록<br>15개</h6>
               
            </article>
            <section id="content-wrap">
                <ul>
                    <li>
                        <div>
                            <a th:href="@{/board/read}">
                                <section class="content-container">
                                    <div class="profile">
                                        <div><img src="/images/profile.png" width="15px"></div>
                                        <h6 class="writer">문소영</h6>
                                    </div>
                                    <h4 class="title">풀스택 개발자 보통 몇 년 걸리나요?</h4>
                                    <h6 clss="board-info">


                                        <span class="date">방금 전</span>
                                    </h6>
                                </section>
                                <img src="" class="preview">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <section class="content-container">
                                    <div class="profile">
                                        <div><img src="/images/profile.png" width="15px"></div>
                                        <h6 class="writer">문소영</h6>
                                    </div>
                                    <h4 class="title">신입 엔드 스팩 어디까지인가요...</h4>
                                    <h6 clss="board-info">

                                        <span class="date">1일 전</span>
                                    </h6>
                                </section>
                                <img src="" class="preview">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <section class="content-container">
                                    <div class="profile">
                                        <div><img src="/images/profile.png" width="15px"></div>
                                        <h6 class="writer">문소영</h6>
                                    </div>
                                    <h4 class="title">REST가 뭐에요?</h4>
                                    <h6 clss="board-info">

                                        <span class="date">2일 전</span>
                                    </h6>
                                </section>
                                <img src="/images/preview.png" class="preview">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <section class="content-container">
                                    <div class="profile">
                                        <div><img src="/images/profile.png" width="15px"></div>
                                        <h6 class="writer">문소영</h6>
                                    </div>
                                    <h4 class="title">면접 100군데 떨어졌다. 질문받는다.</h4>
                                    <h6 clss="board-info">

                                        <span class="date">3일 전</span>
                                    </h6>
                                </section>
                                <img src="" class="preview">
                            </a>
                        </div>
                    </li>
                    <li>
                        <div>
                            <a href="javascript:void(0)">
                                <section class="content-container">
                                    <div class="profile">
                                        <div><img src="/images/profile.png" width="15px"></div>
                                        <h6 class="writer">문소영</h6>
                                    </div>
                                    <h4 class="title">다음 주에 드디어 대기업으로 출근합니다.</h4>
                                    <h6 clss="board-info">

                                        <span class="date">6일 전</span>
                                    </h6>
                                </section>
                                <img src="" class="preview">
                            </a>
                        </div>
                    </li>
                </ul>
                <div id="paging-wrap">
                    <a href="javascript:void(0)" class="paging paging-move"><img src="/images/prev.png" width="15px"></a>
                    <a href="javascript:void(0)" class="paging paging-checked">1</a>
                    <a href="javascript:void(0)" class="paging">2</a>
                    <a href="javascript:void(0)" class="paging">3</a>
                    <a href="javascript:void(0)" class="paging">4</a>
                    <a href="javascript:void(0)" class="paging">5</a>
                    <a href="javascript:void(0)" class="paging paging-move"><img src="/images/next.png" width="15px"></a>
                    <div></div>
                </div>
            </section>
        </section>
    </main>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script src="/js/board/board.js"></script>
</html>